.container {
	@apply relative md:w-4/6 w-full h-full md:pb-16 pb-24 mb-24 overflow-hidden;

	& header {
		@apply flex md:flex-row flex-col items-center justify-between gap-2 md:mr-0 mr-4 mb-4;

		& .count_result {
			@apply md:pl-4 pl-0 text-gray-200;
		}

		& .actions {
			@apply md:w-auto w-full flex items-center gap-4 md:pl-0 pl-4;

			& > button {
				@apply md:w-auto w-full md:justify-start justify-center;
			}

			& .whitelist {
				@apply hover:bg-indigo-200 hover:text-indigo-600 hover:border-indigo-600;
			}

			& .unfollow_all {
				@apply hover:bg-red-200 hover:text-red-700 hover:border-red-700;

				&:disabled {
					@apply opacity-60 pointer-events-none;
				}
			}
		}
	}

	& .list {
		@apply h-full flex flex-col gap-4 px-4 pb-8
		overflow-y-auto scrollbar scrollbar-thumb-gray-400 scrollbar-thumb-rounded-full
		hover:scrollbar-thumb-gray-500;

		overflow: auto !important;
	}

	&::after {
		content: '';
		@apply absolute z-10 left-4 right-4 bottom-0 h-10
			bg-gradient-to-t from-gray-100;
	}

	& .data_feedback {
		@apply p-4 bg-green-100 border-2 border-green-200 rounded-2xl
			text-center text-gray-800 text-xl font-normal;
	}
}
