.container {
	@apply relative md:w-1/2 mb-24 overflow-hidden;

	& .list {
		@apply h-full flex flex-col gap-4 px-4 pb-8
		overflow-y-auto scrollbar scrollbar-thumb-gray-400 scrollbar-thumb-rounded-full
		hover:scrollbar-thumb-gray-500;

		overflow: auto !important;
	}

	&::after {
		content: '';
		@apply absolute z-10 left-4 right-4 bottom-0 h-12
			bg-gradient-to-t from-gray-100;
	}
}
