@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@theme {
	--animate-roller: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

	@keyframes roller {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

html,
body {
	@apply h-screen m-0;
}

body {
	@apply bg-indigo-800;
}

main,
#__next {
	@apply h-full overflow-hidden;
}

#__next {
	@apply relative bg-[url(/assets/svgs/wave.svg)] md:bg-left-bottom bg-left bg-no-repeat md:bg-contain bg-cover;
}

main {
	@apply flex flex-col items-center;
}

.button {
	@apply flex items-center gap-2 px-4 py-2 rounded-2xl
		bg-gray-100 cursor-pointer
		md:text-xl text-base text-gray-600
		border-2 border-gray-300
		transition-colors ease-in-out;

	& span {
		@apply lg:block hidden;
	}
}
